{% extends 'product/base.html' %}
{% load static %}



{% block body %}
   <!-- top category banner -->
        <div class="nt_section type_collection_list">
            <div class="container">
                <div class="mt__30 nt_cats_holder row equal_nt hoverz_true cat_size_4 cat_lay4_1 cat_lay5_3 cat_space_30 cat_design_1">
                    <div class="cat_grid_item cat_space_item cat_grid_item_1 col-md-6 col-12">
                        <div class="cat_grid_item__content position-relative oh">
                            <a href="shop-left-sidebar.html" class="db cat_grid_item__link">
                                <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload top" data-bgset="assets/images/home-01/bn-01.jpg"></div>
                            </a>
                            <div class="cat_grid_item__wrapper pe_none">
                                <div class="cat_grid_item__title">Women</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="row">
                    {% for dd in d %}
                            {% if forloop.counter == 4 %}
                            <div class="cat_grid_item cat_space_item cat_grid_item_2 col-12">
                                <div class="cat_grid_item__content position-relative oh">
                                    <a href="{{ dd.get_url}}" class="db cat_grid_item__link">
                                        <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center" data-bgset="{{ dd.CATImg.url}}"></div>
                                    </a>
                                    <div class="cat_grid_item__wrapper pe_none">
                                        <div class="cat_grid_item__title">{{dd.CATName}}</div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            fff
                    {% endfor %}
                            <div class="cat_grid_item cat_space_item cat_grid_item_3 col-12">
                                <div class="cat_grid_item__content position-relative oh">
                                    <a href="shop-left-sidebar.html" class="db cat_grid_item__link">
                                        <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center" data-bgset="assets/images/home-01/bn-03.jpg"></div>
                                    </a>
                                    <div class="cat_grid_item__wrapper pe_none">
                                        <div class="cat_grid_item__title">Footwear</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cat_grid_item cat_space_item cat_grid_item_4  col-md-3 col-6">
                        <div class="cat_grid_item__content position-relative oh">
                            <a href="shop-left-sidebar.html" class="db cat_grid_item__link">
                                <div class="cat_grid_item__overlay item__position nt_bg_lz lazyload center" data-bgset="assets/images/home-01/bn-04.jpg"></div>
                            </a>
                            <div class="cat_grid_item__wrapper pe_none">
                                <div class="cat_grid_item__title">Watches</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end top category banner -->
{% endblock %}